{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block body %}

{% if validlink %}
<div class="col-md-8 col-md-offset-2">
    <h1 class="text-center">Reset your password</h1>
    <p class="text-center">
        You are viewing this because you have requested a password reset, please fill
        in the following fields to finish the process.
    </p>
    <hr/>
    <form method="post" action="." class="form-horizontal">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-block btn-primary">{% trans 'Submit' %}</button>
            </div>
        </div>
    </form>
</div>

{% else %}

<p>{% trans "Password reset failed" %}</p>

{% endif %}
{% endblock %}
